// TopNav SCSS

@import '../../index.scss';

div#topnav {}

div#topnav nav.navbar {
    background-color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 2px 3px 0 #000;
    margin-bottom: 2rem;
    padding: 0;
    // position: relative;
    z-index: 5;
}

div#topnav a.nav-link {
    color: $Dark;
    margin: auto 0.5rem;
}