// Index SCSS

@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Work+Sans:wght@100;300;400;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

@font-face {
    font-family: 'Control';
    // src: url('./assets/ITC_Avant_Garde_Gothic_Std_Bold.otf') format('otf');
    src: url('./assets/ITC_Avant_Garde_Gothic_Std_Bold.otf') format('woff');

}

$Text: 'Questrial', sans-serif;
$Control: 'Control', sans-serif;
$Header: 'Prata', serif;
$Dark: #231f20;
$Light: #e2e2e2;
$Blue: #004ae9;
$LightBlue: #3f42f1;
$Red: #f05454;
$Green: #16c79a;

body {
    margin: 0;
    padding: 2rem;
    font-family: $Text;
    font-size: 16px;
    color: $Dark;
    background-color: $Light;
}

h1.control {
    font-family: $Control;
    font-size: 2.5rem;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0;
}