// Index SCSS

@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Work+Sans:wght@100;300;400;600;700;800;900&display=swap');

$Text: 'Questrial', sans-serif;
$Header: 'Work Sans', sans-serif;
$Dark: #231f20;
$Light: #e2e2e2;
$Blue: #004ae9;
$Red: #f75b34;
$Green: #31864b;

body {
    margin: 0;
    padding: 2rem;
    font-family: $Text;
    font-size: 16px;
    color: $Dark;
    background-color: $Light;
}